<div class="row">
  <div class="col-lg-12">
    <div id="map"></div>
    <div id="buttongrouping" class="buttongrouping">
          <div class="example-button-container">
            <button mat-fab color="primary" (click)="openDailog($event)" >
              <mat-icon 
              matTooltip="Add building"
              matTooltipPosition="right">
              domain
              </mat-icon>
            </button>
            <button mat-fab color="primary" >
              <mat-icon 
              matTooltip="Add Staff"
              matTooltipPosition="right">
              group_add
              </mat-icon>
            </button>
          </div>
       
     <div class="name">
      
     </div>

    </div>
  
  </div>
</div>
