// don't forget to add the global styles that are in styles.css

.row{
  display: grid;
  align-content: space-between;
  height: 100%;
}
.middle{
  margin-top: 50%;
  margin-bottom: 0%;
}
 .bottom
    {
      margin-top: 200%;
      margin-bottom: 0%;
    }
 
    .icon-button{
      background: none;
      padding: 0;
      border: 0;
      cursor: pointer;
    }
    
    .icon-button .icon {
      width: 28px;
    }
  
.menuBreak
    {
        width: 100%;
        height: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
 .menuBreak hr
    {
        width: 50%;
        height: 3px;
        background-color: #353535;
        border: none;
        border-radius: 5px;
    }
.sidenav {
  width: auto;
  display: grid;
}

.toggle {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 25px 0;
  &:hover {
    cursor: pointer;
  }
}

.nav {
  .active-link {
    background-color: #fafafa;
    border-left: solid 3px #1976d2;
  }

  .hover {
    transition-duration: 400ms;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-property: transform, border, background-color;
  }

  mat-list-item,
  a {
    border: none;
    box-sizing: border-box;
    text-decoration: none;
    &:hover {
      cursor: pointer;
      background-color: #fafafa;
      border-left: solid 3px #1976d2;
    }
  }
  mat-icon {
    color: #1976d2;
  }
}
